.header-color {
    background-color: #000000;
}

.user-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

.header-section:hover {
    background-color: #bba151;
    color: #000000 !important;
    padding: 10px 10px;
    border-radius: 15px;
}

.dropdown-toggle::after {
    color: white !important;
}

.dropdown-menu[data-bs-popper] {
    left: -35px;

}